
[MachineLearning]
# List of items to be used as input/output respectively (comma separated)
input_items               = Hallway_MotionSensor
output_items              = Light_GF_Hallway

# Period (in minutes) that event occurance times from training database are grouped into
time_period_minutes       = 10

# Where to save generated models
models_folder             = ./models

# Location to save predicted data (in csv). Leave blank to not save
predictions_file_folder   = ./data

# Time in 24 hour clock format to rebuild the model. Leave blank or 0000 to disable auto rebuild
rebuild_model_time        = 0001



[openHAB]
openhab_url               = http://openhab:7070

# Automatically post predictions directly to openHAB (via it's REST API). Set to False or leave blank to disable
openhab_send_predictions  = False


[Database]
# Only influxDB currently supported
influxdb_server_name      = influxserver
influxdb_server_port      = 8086
influxdb_server_db        = openhab
influxdb_server_retention = two_years
