[MachineLearning]
# List of items to be used as input (comma separated)
INPUT_ITEMS = Hallway_MotionSensor

#List of items to be used as output (comma separated)
OUTPUT_ITEMS = Light_GF_Hallway

# Period (in minutes) that event times from openHAB are groups into
TIME_PERIOD_MINUTES = 10
MODELS_FOLDER = ./models
PREDICTIONS_FILE_FOLDER = ./data

[openHAB]
OPENHAB_URL=http://openhab:7070


[Database]
DB_QUERY_URL = http://influxdbserver:8086/api/v2/query
DB_QUERY_HEADERS = {"accept":"application/csv", "content-type":"application/vnd.flux"}
DB_QUERY_BASE = from(bucket: "openhab/two_years") |> range(start: -30d) |> filter(fn: (r) => r._measurement == "<<>>")


